API_URL=https://api-callme.gtsvn.com.vn
RELEASE_STAGE=development
ANDROID_GOOGLE_MAP_API_KEY=
IOS_GOOGLE_MAP_API_KEY=
BUGSNAG_API_KEY=

GOOGLE_AUTH_ANDROID_CLIENT_ID=1
GOOGLE_AUTH_IOS_CLIENT_ID=1
FACEBOOK_AUTH_CLIENT_ID=1
